:root {
  --font-size-base: 18px;
  --line-height-base: 1.5;

  --color-text: #1d1d1d;
  --color-background: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--color-text);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: "Lato", Avenir, Adobe Heiti Std, Segoe UI, Trebuchet MS,
    sans‑serif;
    overflow: hidden
}

html,
body,
section,
main {
  width: 100%;
  height: 100%;
}

section {
  flex-grow: 1;
  height: 100%;
}

input {
  outline: 0;
  border: 0;
}

input[type="range"] {
  display: block;
  width: 100%;
}

aside {
  flex-basis: 196px;
 
  display: flex;
  flex-direction: column;
  overflow: auto;
}

aside > div:first-of-type {
  flex-grow: 1;
}

main {
  display: flex;
}




@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


/* .btn--active {
  background-color: hsl(310, 100%, 70%);
}



.btn--eraser-active {
  background-color: hsl(310, 100%, 70%);
}

.btn--width-active {
  background-color: hsl(310, 100%, 70%);
} */

.btn--block {
  display: flex;
  width: 100%;
}


input[type="checkbox"] {
  display: none;
}

*[disabled],
*[disabled] + label {
  opacity: 0.6;
  cursor: not-allowed;
}
